{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block ">
              <img src="https://brandemia.org/contenido/subidas/2022/07/0-inditex-cabecera-1200x670.png" class="img-fluid" alt="Responsive image" ></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">GR-13 Inditex registro</h1>
                </div>
                <form class="user" action="/ingresar" method="POST">
                  <div class="form-label mt-4">
                    <input type="email" class="form-control form-control-user" name="usuario" aria-describedby="emailHelp" placeholder="Ingrese usuario registrado">
                  </div>
                  <div class="form-label mt-4">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" name="passw" placeholder="Ingrese contraseña">
                  </div>
                  <div class="form-label mt-4">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Recordar</label>
                    </div>
                  </div>
                  <button class="badge bg-dark" id="alertas" type="submit">Enviar</button>
                <div class="text-center">
                  <a class="small" href="#">Restablecer su contraseña</a>
                </div>
                <div class="text-center">
                  <a class="small" href="#">Crear usuario</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}